@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mali', cursive;
}

.back {
    background: #35CDFE;
  }
  
.containerss {
    max-width: 1110px;
    margin: 0 auto;
}

nav {
    height: 120px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

nav ul {
    border-radius: 25px;
    background: white;
    padding: 20px;
    width: 300px;
    height: 90px;
    list-style: none;
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
    color: black;
    
}

nav ul li h1{
    margin-bottom: 1000px;
    
}

.logo {
    width: 50px;
    height: 50px;
    margin-top: 25px;
    margin-right: 20px;
}

.tabe {
    background-color: gray;
    margin: 5px;
    height: 300px;
}

table , th, td{
    margin-top: 20px;
    border:1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    background-color: white;
}

th {
    width: 90px;
}
